<%- include('../partials/header') %>

<section id="all-recipes">
  <% recipes.forEach(function(r) { %>
    <img src="<%= r.image %>" alt="cookie picture"><br>
    <div>Recipe Name:</div>
    <div><%= r.recipeName %></div>
    <div>Ingredients:</div>
    <div><%= r.ingredients %></div>
    <% if (r.attributes) { %>
    <div>Attributes:</div>
    <div><%= r.attributes %></div>
    <% } %>
    <a href="/recipes/<%= r._id %>">See Full Recipe</a>
  <% }); %>
  </section>

<%- include('../partials/footer') %>