<%- include('../partials/header') %>

<section id="show-page">
    <% if (recipe.image) { %>
    <img src="<%= recipe.image %>" alt="cookie picture"><br>
    <% } %>
    <% if (recipe.attributes.length) { %>
        <div class="header">Attributes:</div>
        <% recipe.attributes.forEach(function(a) { %>
        <div><%= a.attributeName %></div>
    <% }); %> 
    <% } %>
    <div class="header">Recipe Name:</div>
    <div><%= recipe.recipeName %></div>
    <div class="header">Ingredients:</div>
    <div><%= recipe.ingredients %></div>
    <div class="header">Directions:</div>
    <div><%= recipe.directions %></div>
    <br><br>
    <% if (recipe.user.equals(user._id)) { %>
    <a class="button" href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a><br>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Delete Recipe">
    </form><br>
    <% } %>
    <div class="header">Reviews:</div>
    <% if (recipe.reviews.length) { %>
    <table id="reviews">
        <thead>
            <tr>
                <th class="header">Date</th>
                <th class="header">Review</th>
                <th class="header">Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
            <% recipe.reviews.forEach(function(review) { %>
            <% total += review.rating %>
            <tr>
                <td><%= review.createdAt.toLocaleDateString() %></td>
                <td><%= review.content %></td>
                <td><%= review.rating %></td>
                <td><% if (review.user.equals(user._id)) { %>
                    <form action="/recipes/<%= recipe._id %>/reviews?_method=DELETE" method="POST">
                        <input class="button" type="submit" value="Delete Review">
                    </form><br>
                    <% } %></td>
            </tr>
            <tr>
            </tr>
            <% }); %>
            <div id="avg-rating"><strong>Average Rating: <%= (total / recipe.reviews.length).toFixed(2) %></strong></div>
        </tbody>
    </table>
    <% } else { %>
    <div>No Reviews Yet</div>
    <% } %><br>
    <form id="new-review-form" method="POST" action="/recipes/<%= recipe._id %>/reviews">
        <label class="header">Review:</label>
        <textarea name="content"></textarea>
        <label class="header">Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input class="button" type="submit" value="Add Review">
    </form><br>
</section>

<%- include('../partials/footer') %>